
<div layout-sm="column" layout-md="row" layout-lg="row" layout-gt-lg="row">
    <div layout="row" ng-if="!loading_all" flex>
	    <md-button class="md-raised md-accent" ng-click="refreshAll()">REFRESH</md-button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <p class="hint" flex>Last Update : {{data.update}}</0>
    </div>
	<md-progress-circular ng-if="loading_all" class="md-accent" md-mode="indeterminate" md-diameter="40px"></md-progress-circular>
</div>

<md-card class="md-whiteframe-1dp md-padding">

    <div layout="row" layout-sm="column">
        <md-card-content flex>
            <p class="md-title title-no-top">Product Order</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Waiting</item> <item flex="5">:</item> <item flex>{{data.product_order_waiting}}</item>
            </div>
            <div layout="row">
                <item flex="40">Processed</item> <item flex="5">:</item> <item flex>{{data.product_order_processed}}</item>
            </div>
            <div layout="row">
                <item flex="40">Total Order</item> <item flex="5">:</item> <item flex>{{data.product_order_total_order}}</item>
            </div>
        </md-card-content>
        <md-card-content flex>
            <p class="md-title title-no-top">Payment</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Waiting</item> <item flex="5">:</item> <item flex>{{data.payment_waiting}} {{data.setting_currency}}</item>
            </div>
            <div layout="row">
                <item flex="40">Pending</item> <item flex="5">:</item> <item flex>{{data.payment_pending}} {{data.setting_currency}}</item>
            </div>
            <div layout="row">
                <item flex="40">Paid</item> <item flex="5">:</item> <item flex>{{data.payment_paid}} {{data.setting_currency}}</item>
            </div>
            <div layout="row">
                <item flex="40">Refund</item> <item flex="5">:</item> <item flex>{{data.payment_refund}} {{data.setting_currency}}</item>
            </div>
            <div layout="row">
                <item flex="40">Denied</item> <item flex="5">:</item> <item flex>{{data.payment_denied}} {{data.setting_currency}}</item>
            </div>
            <div layout="row">
                <item flex="40">Expired</item> <item flex="5">:</item> <item flex>{{data.payment_expired}} {{data.setting_currency}}</item>
            </div>
        </md-card-content>
    </div>
    <div layout="row" layout-sm="column">
        <md-card-content flex>
            <p class="md-title title-no-top">Product Information</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Published</item> <item flex="5">:</item> <item flex>{{data.product_published}}</item>
            </div>
            <div layout="row">
                <item flex="40">Draft</item> <item flex="5">:</item> <item flex>{{data.product_draft}}</item>
            </div>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Ready Stock</item> <item flex="5">:</item> <item flex>{{data.product_ready_stock}}</item>
            </div>
            <div layout="row">
                <item flex="40">Out of Stock</item> <item flex="5">:</item> <item flex>{{data.product_out_of_stock}}</item>
            </div>
            <div layout="row">
                <item flex="40">Suspend</item> <item flex="5">:</item> <item flex>{{data.product_suspend}}</item>
            </div>
        </md-card-content>
        <md-card-content flex>
            <p class="md-title title-no-top">Category Information</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Published</item> <item flex="5">:</item> <item flex>{{data.category_published}}</item>
            </div>
            <div layout="row">
                <item flex="40">Draft</item> <item flex="5">:</item> <item flex>{{data.category_draft}}</item>
            </div>
        </md-card-content>
    </div>
</md-card>
<br>
<md-card class="md-whiteframe-1dp md-padding">
    <div layout="row" layout-sm="column">
        <md-card-content flex>
            <p class="md-title title-no-top">News Info</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Featured</item> <item flex="5">:</item> <item flex>{{data.news_info_featured}}</item>
            </div>
            <div layout="row">
                <item flex="40">Published</item> <item flex="5">:</item> <item flex>{{data.news_info_published}}</item>
            </div>
            <div layout="row">
                <item flex="40">Draft</item> <item flex="5">:</item> <item flex>{{data.news_info_draft}}</item>
            </div>
        </md-card-content>
        <md-card-content flex>
            <p class="md-title title-no-top">App Version</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Active</item> <item flex="5">:</item> <item flex>{{data.app_version_active}}</item>
            </div>
            <div layout="row">
                <item flex="40">Inactive</item> <item flex="5">:</item> <item flex>{{data.app_version_inactive}}</item>
            </div>
        </md-card-content>
    </div>
    <div layout="row" layout-sm="column">
        <md-card-content flex>
            <p class="md-title title-no-top">Application Setting</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Currency</item> <item flex="5">:</item> <item flex>{{data.setting_currency}}</item>
            </div>
            <div layout="row">
                <item flex="40">Tax</item> <item flex="5">:</item> <item flex>{{data.setting_tax}} %</item>
            </div>
        </md-card-content>
        <md-card-content flex>
            <p class="md-title title-no-top">Notification</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Users</item> <item flex="5">:</item> <item flex>{{data.notification_user}}</item>
            </div>
        </md-card-content>
    </div>
</md-card>

<br>
