<md-card class="md-whiteframe-1dp">
<div class="table-responsive-vertical">
	<table id="table" class="table table-hover">
		<thead>
			<tr >
				<th width="1%">No</th>
				<th width="25%">Buyer</th>
				<th width="5%">From</th>
				<th width="10%">Code</th>
				<th width="10%">Total Fees</th>
				<th width="10%">Payment</th>
				<th width="10%">Created at</th>
				<th width="5%">Status</th>
				<th width="5%">Action</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="po in product_order track by po.id">
				<td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
				<td data-title="Buyer">{{po.buyer}}</td>
				<td data-title="From">
					<div ng-if="po.serial != null && po.serial !=''">
						<md-icon class="md-ic-small ic-small-green">android</md-icon>
						<md-tooltip>Android Mobile</md-tooltip>
					</div>
					<div ng-if="po.serial==null || po.serial==''">
						<md-icon class="md-ic-small ic-small-grey">laptop</md-icon>
						<md-tooltip>Computer or Web</md-tooltip>
					</div>
				</td>
				<td data-title="Code">{{po.code}}</td>
				<td data-title="Total Fees">{{po.total_fees}}</td>
				<td data-title="Payment">
					<grey ng-if="po.payment_status != ''">{{po.payment_status}}</grey>
				</td>
				<td data-title="Created at">{{po.created_at | date:'dd MMM yy'}}</td>
				<td data-title="Status">
					<waiting ng-if="po.status=='WAITING'">WAITING</waiting>
					<processed ng-if="po.status=='PROCESSED'">PROCESSED</processed>
					<cancel ng-if="po.status=='CANCEL'">CANCEL</cancel>
				</td>
				<td data-title="Action">
					<md-menu md-position-mode="target-right target" >
						<md-button class="md-btn-small" ng-click="$mdOpenMenu($event)">
							<md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">more_vert</md-icon>
						</md-button>
						<md-menu-content width=3>
							<md-title class="md-padding">MENU - {{po.buyer}}</md-title>
							<md-menu-item>
								<md-button layout-fill md-ink-ripple ng-click="detailsOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>launch</md-icon>Details
								</md-button>
							</md-menu-item>

							<md-menu-item>
								<md-button layout-fill md-ink-ripple ng-click="editOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>create</md-icon>Edit
								</md-button>
							</md-menu-item>

							<md-menu-item ng-if="po.status!='PROCESSED'">
								<md-button layout-fill md-ink-ripple ng-click="deleteOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>Delete
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="loading" style="text-align:center;" colspan="10">
		<p>Loading</p>
		<md-progress-linear md-mode="indeterminate"/>
	</div>
</div>

<!--pagination view-->
<section layout="row" class="sub-menu-bg" flex>
	<cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"/>
</section>

</md-card>

<br>